.login-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

* {
    // outline: 2px dotted blueviolet;
}

.search-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-start: 2;
    align-items: center;
}

.filter {
    text-align: center;
    grid-column-start: 2;
    // visibility: hidden;
    // display: none;
}

@media (max-width: 699px) {
    .login-container{
        // margin-left: unset;
        grid-column-start: 2;
        grid-row: 1;
    }
}

@media (max-width: 449px) {
    .search-form-container {
        flex-direction: column;
        align-items: flex-end;
        // margin-left: unset;
        // grid-column-start: 2;
        // grid-row: 1;
    }
}