.login-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

* {
    // outline: 2px dotted blueviolet;
}

.search-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-start: 2;
    align-items: center;
}

.filter {
    text-align: center;
    grid-column-start: 2;
    // visibility: hidden;
    // display: none;
}