.login-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.search-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-start: 2;
  align-items: center;
}

.filter {
  text-align: center;
  grid-column-start: 2;
}

@media (max-width: 699px) {
  .login-container {
    grid-column-start: 2;
    grid-row: 1;
  }
}

@media (max-width: 449px) {
  .search-form-container {
    flex-direction: column;
    align-items: flex-end;
  }
}
