<!-- [ngStyle] = "{borderBottomColor: getColor()}" -->

<mat-card
    appBottomColor
    [cardColor]="getColor()" 
    [ngClass] = "{conditional: wasSeen === false}"
    class="item"    
>
    <img 
        class="thumbnail"
        mat-card-image
        [src]="item.snippet.thumbnails.medium.url"
    >
    <div class="statistics">
        <p>
            <fa-icon 
            class="filter-icon"
            [icon]="faEye"> 
            </fa-icon>
            {{ item.statistics.viewCount}}
        </p>
        <p>
            <fa-icon 
            class="filter-icon"
            [icon]="faHeart"> 
            </fa-icon>
            {{ item.statistics.likeCount}}
        </p>
        <p>
            <fa-icon 
            class="filter-icon"
            [icon]="faHeartBroken"> 
            </fa-icon>
            {{ item.statistics.dislikeCount}}
        </p>
        <p>
            <fa-icon 
            class="filter-icon"
            [icon]="faCommentAlt"> 
            </fa-icon>
            {{ item.statistics.commentCount}}
        </p>
    </div>
    <mat-card-title class="video-title">{{ item.snippet.title | uppercase | shortenTitle: 35 }}</mat-card-title>
    <!-- <mat-card-subtitle>{{ item.snippet.publishedAt}}</mat-card-subtitle> -->
    <mat-card-actions>
        <button 
            color="primary"
            class="bottom-button"
            (click)="goToDetailsPage(item.id)"
            
            >
            more...
        </button>
        <!-- <p>{{item.id}}</p> -->
    </mat-card-actions>

</mat-card>
<!-- (click)="goToDetailsPage(item.id.videoId)" -->
<!-- <p>{{item.kind}}</p> -->
        <!-- mat-card-image -->
        <!-- [src]="item.pathOrStg" BY BINDING--> 
        <!-- OR -->
        <!-- src = "{{ item.pathOrStg }}"  STRING INTERPOLATION-->

        <!-- (click)="goToDetailsPage(item.id)" -->
        <!-- [routerLink]="['/search', this.item.id]" -->
