.item {
    border-bottom-width: 10px; 
    border-bottom-style: solid;
    width: 200px;
    margin: 20px;
    height: 250px;
    // grid-column-start: 2;
    // display: inline-block;
    outline: blueviolet solid 2px;
}

.conditional {
    background-color: hotpink;
}