.login-container {
    
}

.login-submit {
    background-color: #2f80ec;
    color: #eee;
    // display: block;
    // float: right;
    margin-top: 10px;
}

.form-container {
    text-align: center;
    width: 300px;
    margin: auto;
    background-color: #eee;
    padding: 20px;
    margin-top: 50px;
}

h2 {
    color: #333;
}