<mat-spinner *ngIf = "isLoading"></mat-spinner>
<div class="detailed-page" *ngIf = "currentItem">
    <!-- <button [routerLink]="['/search']">&#60;</button> -->
    <button (click)="onGoBack()">&#60;</button>
    
    <div class="info-container">
        <img 
            class="image"
            [src]="currentItem.snippet.thumbnails.maxres.url">
        <div class="description-container">
            <div class="title">
                <h3>{{ currentItem.snippet.title }}</h3>
                <span>{{ currentItem.snippet.publishedAt | date }}</span>
            </div>
            <div class="description">
                <h4>Description:</h4>
                <p>
                    {{ currentItem.snippet.description }}
                </p>
            </div>
            <div class="statistics">
                <div class="statistics-item">
                    <fa-icon 
                    class="filter-icon"
                    [icon]="faEye"> 
                    </fa-icon>
                    {{ currentItem.statistics.viewCount}}
                </div>
                <div class="statistics-item">
                    <fa-icon 
                    class="filter-icon"
                    [icon]="faHeart"> 
                    </fa-icon>
                    {{ currentItem.statistics.likeCount}}
                </div>
                <div class="statistics-item">
                    <fa-icon 
                    class="filter-icon"
                    [icon]="faHeartBroken"> 
                    </fa-icon>
                    {{ currentItem.statistics.dislikeCount}}
                </div>
                <div class="statistics-item">
                    <fa-icon 
                    class="filter-icon"
                    [icon]="faCommentAlt"> 
                    </fa-icon>
                    {{ currentItem.statistics.commentCount}}
                </div>
            </div>
        </div>
    </div>
</div>
