.results-container {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: calc(100vh - 222px);
    // overflow: scroll ;
    padding: 50px 15px;
    overflow: auto;
    // display: grid;
    // grid-template-columns: repeat(4, auto);
    // column-gap: 10px;
    // justify-content: center;
}

.results-item{
    margin: 0 10px;
}

mat-spinner{
    position: fixed;
    left: 50vw;
    top: 50vh;
}