<fa-icon [icon]="faYoutube" class="header-item"></fa-icon>
<form class="header-item">
    <label>

    </label>
    <input
        matInput
        name = "search"
        type="text"
        [(ngModel)]="searchValue"   
    >
    <button
        mat-button
        [disabled] = "searchValue === ''"
        (click) = "onSearchClick()"
    >
    search
    </button>
</form>

<button 
    class="header-item"
    mat-button
    color="accent"
    (click)="onFilterClick()"
>
    Show / Hide search filter
</button>

<!-- <p>You are searching for: {{searchValue}}</p> -->

<!-- <app-search-filter *ngIf = "showFilter; else noSearch"></app-search-filter> -->
<!-- <ng-template #noSearch>
    <p>No filters available</p>
</ng-template> -->
<!-- (click) = "showFilter = !showFilter" -->

