<fa-icon 
    [icon]="faYoutube" 
    class="header-item">
</fa-icon>

<form class="header-item">
    <label>

    </label>
    <input
        matInput
        class="search-input"
        name = "search"
        type="text"
        #searchInput 
    >
    <button
        class="search-button"
        [disabled] = "searchInput.value === ''"
        (click) = "onSearchClick(searchInput)"
        type="submit"
            > Search
    </button>
</form>

<button 
    class="header-item filter-button"
    color="accent"
    (click)="onFilterClick()"
    #filterButton>
        <fa-icon 
            class="filter-icon"
            [icon]="faFilter"> 
        </fa-icon>
</button>

<!-- #searchInput // to use in template then pass in the function as searchInput.value  -->
<!-- mat-button -->

<!-- <app-search-filter *ngIf = "showFilter; else noSearch"></app-search-filter> -->
<!-- <ng-template #noSearch>
    <p>No filters available</p>
</ng-template> -->

<!-- <ng-content></ng-content> -->

<!-- <input
        matInput
        name = "search"
        type="text"
        [(ngModel)]="searchValue"
        #searchInput 
    > -->