<div>
    <form>
        <label>

        </label>
        <input
            name = "search"
            type="text"
            [(ngModel)]="searchValue"   
        >
        <button
            [disabled] = "searchValue === ''"
            (click) = "onSearchClick()"
        >
        search
        </button>
    </form>

    <p>You are searching for: {{searchValue}}</p>
    <app-search-filter *ngIf = "searchIsSet; else noSearch"></app-search-filter>
    <ng-template #noSearch>
        <p>Go Search!</p>
    </ng-template>
</div>
